.container{
    
    background-repeat: no-repeat;
    background-size: cover; 
    backface-visibility: visible;
    
    
    border: 8px solid rgb(243, 202, 19);
    background-color:rgb(243, 191, 135);
}
.navbar{
    margin-left: 12%;
    padding: 2%;
    font: 1em sans-serif;
    font-style: italic;
    
}
 .navbar a{
    text-decoration: none;
    margin-left:10%;
    color:black;
    
} 
.background img{
    float: right; 
}
.backgrounds{
    height:34px;   
}

h1{
    text-align: center;
    color:rgb(0, 0, 0);
    font-style: bold;
    border-left: 2px solid rgb(243, 202, 19);
    border-top: 2px solid rgb(243, 202, 19);
    margin-left: 22%;
    width: 54%;
}
p{
     text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 8%;
    font-style: none;
    animation:zoomIn; 
  animation-duration: 10s; 
    
}
#poe{
   text-align: center;
   color: rgb(0, 0, 0);
   margin-bottom: 8%;
   font-style: none;
   background-color: #dd6f08;
   margin-left: 35%;
   margin-right:35% ;
   height: 200px;
   padding-top: 5%;
   border: 2px solid black;
   border-radius: 12%; 
}
#poem{
   text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 8%;
    font-style: none;
    background-color: #dd6f08;
    margin-left: 35%;
    margin-right:35% ;
    height: 200px;
    padding-top: 5%;
    border: 2px solid black;
    border-radius: 12%;
}
#em{
   text-align: center;
   color: rgb(0, 0, 0);
   margin-bottom: 8%;
   font-style: none;
   background-color: #dd6f08;
   margin-left: 35%;
   margin-right:35% ;
   height: 400px;
   padding-top: 5%;
   border: 2px solid black;
   border-radius: 12%; 
   
}
h3{
    font-style: italic;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 4%;
}
#form{
    background-color:transparent;
    margin-left: 28%;
    margin-right: 34%;
    border: 2px solid rgb(241, 141, 11);
    border-radius: 12% 0;
    color: rgb(0, 0, 0);
    margin-bottom: 8%;
    height: 500px;
    width: 45%;
}
#form select{
    background-color: transparent;
    color: #000000;
    margin-bottom: 6%;
    border:none;
    border-radius: 12% 0;
}
.Registration{
    text-align: center; 
}
.Registration input{
   border-radius: 17% 0 17% 0;
    background-color:transparent; 
    color: aliceblue;
}
.button input{
    color: black;
   background-color: rgb(125, 134, 112);
    
}
table{
    width: 500px;
    height: 500;
    border-collapse: collapse;
    margin:50px  auto;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-style: italic; 
 }
 #custom-select{
    font-size: 22px;
    background-image: url(crown.png);
    height: 400px;
    width: 65%;
    margin-left: 34%;
    margin-right: 12%;
    text-align: center;
    background-repeat: no-repeat;
    
 }
 
 #custom-select select{
text-align: center;
margin-top: 10%;
margin-left: -52%;
padding: 2%;
font-size: 12px;
background-color: transparent;
color: rgb(0, 0, 0);
border-radius: 12% 0;
width: 22%;
border-color:gold ; 
 }
  select{
    background-color: rgb(224, 182, 134);
 }
 
 #tables tr{
    margin-bottom: 8%;
 }
 td,
 th{
    border: 2px solid rgb(233, 146, 17);
    padding: 20px 12px;
    background-color: transparent;
 }
 .float{
    padding: 10px 5px;
  
 }
 .head{
    font-style: italic;
    color: rgb(0, 0, 0);
 }
 .gender{
   background-color:rgb(36, 1, 36); ;
 }
#crud-form{
   margin-left: 26%;
}
#crud-form input{
   width: 12%;
   background-color: transparent;
  border: 2px  solid rgb(233, 146, 17);
  
}
 button{
   background-color: transparent;
   color: white;
}
.dropbtn {
   background-color:  transparent;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }
 
 .dropbtn:hover, .dropbtn:focus {
   /* background-color:rgb(226, 159, 13); */
   border: 2px solid rgb(226, 159, 13) ;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
   margin-left: 18%;
   
   ;
 }
 .dropdown button{
color: #000000;
 }
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: d;
   min-width: 140px;
   overflow: auto;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   color: rgb(0, 0, 0);
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   background-color:rgb(255, 244, 244);
  
 }
 
 .dropdown a:hover {background-color:transparent;
   border:1px solid black;}

 
 .show {display: block;}

  #new-review-form {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 10px;
 }
 
 #new-review-form input,
 #new-review-form textarea {
   width: 45%;
   padding: 5px;
   margin-left: 20%;
   margin:0 auto;
   background-color: transparent;
   color: #fff5f5;
 }
 
 #new-review-form button {
   width: 25%;
   padding: 10px 20px;
   background-color:transparent;
   color: rgb(0, 0, 0);
   border-radius:5px ;
   cursor: pointer;
   font-size: 18px;
   margin-left: 40%;
   margin-left: 40%;
 }
 h2{
   color: #000000;
   text-align: center;
   margin-top: 8%;
 }
 
 #new-review-form button:hover {
   background-color: #e48b05;
 }
 #reviews{
 
      border:  2px solid rgb(233, 146, 17);
      outline:  none;
      background-color:rgb(253, 253, 253);
      padding: 12px 20px;
      border-radius:5px ;
      color:#ffffff ;
      font-size: 10px;
      margin-left: 12%;
      margin-right: 12%;
      margin-bottom: 12%;
  
 }
 

 @media screen and (max-width:375px) {
   
    #tables tr{
        margin-bottom:5px;  
     }
     td,
     th{
        border: 1px solid rgb(233, 146, 17);
        background-color: transparent;
        font-size: 12px;
     }
     .float{
        padding: 10px 5px;
      
     }
     
     table {
      width: 300px;
      border-collapse: collapse;
      margin: 10px auto;
     
   }
   #form {
      margin-left: 18%;
      margin-right: 24%;
      height: 500px;
       width: 65%; 
   }
   #custom-select {
      
      height: 300px;
      width: 95%;
      padding-left: 18%;
      margin-left:-2.5%;
      margin-top: 12%;
   }
   
   #custom-select select {
     
      margin-top: 20%;
      margin-right: -25%;
      padding: 2%;
      width: 35%;
    
   } 
   #records-tables tr th{
width: 12%;
   }
   .dropdown {
      position: relative;
      display: inline-block;
      /* margin-left: 28%; */
      margin-right: -10%;
      font-size: 10px
      ;
    }
    .navbar{
      margin-left: 5%;
      padding: 2%;
      font: 1em sans-serif;
      font-style: italic;
      font-size: 12px;
      
  }
   .navbar a{
      text-decoration: none;
      margin-left:10%;
      color: #dd6f08;
      
  } 
 }
 @media screen and (max-width:414px){
   .dropdown {
      position: relative;
      display: inline-block;
      /* margin-right: -68%; */
      font-size: 15px
      ;
    }
    .navbar{
      margin-right: 12%;
      margin-left: 0%;
      padding: 2%;
      font: 1em sans-serif;
      font-style: italic;
      font-size: 15px;
      
  }
   .navbar a{
      text-decoration: none;
      margin-left:5%;
      color: #dd6f08;
      
  } 
   table {
      width: 300px;
      border-collapse: collapse;
      margin: 10px auto;
     
   }
   #form {
      margin-left: 18%;
      margin-right: 24%;
      height: 500px;
       width: 65%; 
   }
   #custom-select {
      
      height: 300px;
      width: 95%;
      padding-left: 18%;
      margin-left:-2.5%;
      margin-top: 12%;
   }
   
   #custom-select select {
     
      margin-top: 20%;
      margin-right: -25%;
      padding: 2%;
      width: 25%;
      font-size: 8px;
   } 
 }
 @media screen  and (max-width:912px){
   .dropdown {
      position: relative;
      display: inline-block;
      margin-left: 78%;
      font-size: 15px;
     
      ;
    }
   #custom-select select {
     
      margin-top: 20%;
      margin-right: -25%;
      padding: 2%;
      width: 25%;
      font-size: 8px;
   } 
 }
 @media screen  and (max-width:540px){
   #custom-select select {
     
      margin-top: 20%;
      margin-right: -0%;
      padding: 2%;
      width: 25%;
      font-size: 8px;
   } 
   #custom-select {
      
      height: 300px;
      width: 95%;
      padding-left: 18%;
      margin-left:12%;
      margin-top: 12%;
 }
}
@media screen and (max-width:280px){
   table {
      width: 95px;
      border-collapse: collapse;
      margin: 10px auto;
     
   }
   #form {
      margin-left: 18%;
      margin-right: 24%;
      height: 500px;
       width: 75%; 
   }
   #custom-select {
      
      height: 300px;
      width: 95%;
      padding-left: 18%;
      margin-left:-2.3%;
      margin-top: 12%;
      margin-left: -8%;
   }
   
   #custom-select select {
     
      margin-top: 20%;
      margin-right: -25%;
      padding: 2%;
      width: 25%;
      font-size: 8px;
   } 
}
@media screen and (max-width:505px){
   table {
      width: 95px;
      border-collapse: collapse;
      margin: 10px auto;
     
   }
   #form {
      margin-left: 18%;
      margin-right: 24%;
      height: 500px;
       width: 75%; 
   }
   #custom-select {
      
      height: 300px;
      width: 95%;
      padding-left: 18%;
      margin-right:3%;
      margin-top: 12%;
      margin-left: -8%;
   }
   
   #custom-select select {
     
      margin-top: 20%;
      margin-right: -25%;
      padding: 2%;
      width: 25%;
      font-size: 8px;
   }  
}
@media screen and (max-width:255px) {
   table {
      width: 95px;
      border-collapse: collapse;
      margin: 10px auto;
     
   }
   #form {
      margin-left: 18%;
      margin-right: 24%;
      height: 500px;
       width: 75%; 
   }
   #custom-select {
      
      height: 300px;
      width: 95%;
      padding-left: 18%;
      margin-left:-2.3%;
      margin-top: 12%;
      margin-left: -8%;
   }
   
   #custom-select select {
     
      margin-top: 20%;
      margin-right: -25%;
      padding: 2%;
      width: 25%;
      font-size: 8px;
   } 
}